nav {
  pointer-events: none;
  position: absolute;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  height: 6em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 12em;
}
nav .right-side ul,
nav .right-side,
nav .left-side {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav .left-side img {
  height: 75%;
}

nav .right-side ul {
  max-width: 40%;
}
nav .right-side ul li {
  list-style: none;
  padding: 0.8em 1.4em;
  /* background-color: red; */
  font-size: 1.2em;
  pointer-events: all;
}
