:root {
  --darkest: #191a2e;
  --darkest2: #3c3d6b;
  --dark: #16213d;
  --dark2: #1e3372;
  --main: #0f3460;
  --main2: #335b8c;
  --light: #e94560;
  --light2: #c62e47;
  --light3: #a01a32;
}
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700&family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* 
font-family: 'Fira Sans', sans-serif;
font-family: 'Prompt', sans-serif; 
*/
/* Defaults */

* {
  font-family: "Fira Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
}
/* Home Page */
.App {
  max-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
